{% extends 'layout.html' %}

{% block title %}Wiki-Serach-Engine{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/styles/markdown-white.css">
{% endblock %}

{% block content %}
<div id="container">
  <!--<a class="mw-wiki-logo" href="/" title="Visit the main page"><h1>Main Page</h1></a>-->
  <div>
    <h1 class="h1">Search results</h1>
  </div>
  <div id="wiki-content">
    <ul>
      {% for page in pages %}
        <li>
          <h2><a href="/id/{{ page.id }}">{{ page.title | raw }}</a></h2>
          <div>{{ page.text | raw }}</div>
        </li>
      {% endfor %}
    </ul>
  </div>

</div>
<style>
  .mw-wiki-logo {
    //background-image: url(/images/enwiki.png);
    background-color: aliceblue;
    display: block;
    width: 10em;
    height: 42px;
    background-repeat: no-repeat;
    background-position: center;
  }
</style>
{% endblock %}

{% block script %}
{% endblock %}
